h1 {
    text-align: center;
    color: goldenrod;
    border: 1px black solid;
    background-color: darkgrey;
  }
  
  .tasks-list {
    width: 800px;
    margin: auto;
     height: 600px;
    border-radius: 10px;
    color: white;
   
    
  
  }
  .form-add{
    background-color: greenyellow;
    width: 250px;
    height: 100px;
    border: 2px black solid;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    border-radius: 5px;
  }
  